.pageheading {
  background-color: #f7a924;
  position: absolute;
  left: 250px;
  width: 88%;
  text-shadow: 1px 1px 1px white, 1px 1px 1px blue;
  float: right;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.pageheading-device {
  position: absolute;
  float: right;
  background-color: #f7a924;
  width: 100%;
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 1px 1px white, 1px 1px 1px blue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

table,
td {
  width: 300px;
}

table {
  margin-top: 60px;

  width: 900px;
  color: black;
  font-family: sans-serif;

  text-align: center;
  font-weight: bold;
}

.device-title {
  margin-bottom: 150px;
  font-style: italic;
  font-size: 50px;
  text-shadow: 5px 5px 10px #000000;
  font-family: sans-serif;
}

.cardview {
  left: 270px;
  float: right;
  position: absolute;
}

.device-table {
  left: 700px;
  position: absolute;
}

/* .device-details {
  
  position: absolute;
} */

.card-box {
  background-color: rgb(247, 234, 218);
  background-position: center;
  background-image: url("../images/open-graph.jpg");
  background-position: center;
  background-repeat: no-repeat;
 
  background-size: cover;
}

.device-details-box {
  box-shadow: 5px 10px 8px 1px rgb(110, 109, 107);
  background: linear-gradient(
      rgba(255, 255, 255, 0.945),
      rgba(255, 255, 255, 0.685)
    ),
    url(../images/graph.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15px;
  text-align: left;
  width: 1000px;
}

.cardview-button:hover {
  transform: scale(1.2);
  background-color: #ffa500 !important;
}

.card-width {
  width: 300px;
  height: 230px;
  padding: 7px;
  margin-left: 50px;
}

p {
  display: inline;
}

.login-copyright {
  font-size: small;
  font-weight: bold;
  color: rgb(11, 64, 212);
}

.profile {
  background-color: #ffa500;
  position: relative;
  float: right;
  width: 100%;
  font-size: xx-large;
  font-style: italic;
  text-shadow: 1px 1px 1px white, 1px 1px 1px blue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  
}

.profile-data {
  text-align: left;
  font-weight: bolder;
  border: 1px solid;
  padding: 100px;
  font-size: xx-large;
  box-shadow: 5px 10px 8px 1px #888;
  max-width: 1100px;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #344461, #3d6087, #3f7eaf, #359dd7, #00bfff);
}

.profile-values {
  text-align: left;
  background-color: rgb(250, 247, 241);
}

.profile-label {
  color: #f86707;
  text-shadow: 1px 1px 1px white, 1px 1px 1px blue;
}

.profile-label-value {
  color: #5175aa;
  font-style: italic;
  font-size: 30px;
  text-shadow: 1px 1px 1px white, 1px 1px 1px blue;
}

.container1 {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
  background-image: url("../images/loginpage2.gif");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
}

body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 110%;
  width: 250px;
  /* background-image: linear-gradient(
    to right top,
    #00bfff,
    #3acdfe,
    #5edafc,
    #7ee7fb,
    #9df3fb
  ); */
  /* background-color: #344461; */
  background-image: linear-gradient(to right top, #344461, #3d6087, #3f7eaf, #359dd7, #00bfff);
  
}

.sidebar-device {
  height: 100%;
  width: 400px;
  border-color: black;
  background-color: #f7f0db;
  box-shadow: 0px 12px 18px 6px rgba(0, 0, 0, 0.3);
}

.select-dropdown{
  font-size: 15px !important;
  font-weight: bold !important;
}

.devices-list {
  color: #000000;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 5px 5px 10px #d3a644;
}

.device-details-table{
  text-align: left;
  
}

.device-details-table,td{
  width: 550px;
}

.device-button {
  align-items: center;
  align-content: stretch;
  width: 80%;
  margin-left: 20px;
  font-size: 18px !important;
  box-shadow: 0 9px rgb(202, 200, 200) !important;
}

.site-details-table{
  background-color: rgb(243, 232, 194);
  margin-top: 12px;
}

.site-details-cardview{
  height: 165px;
  box-shadow: 5px 2px 5px rgb(173, 175, 175) ;
}

.device-button:hover {
  transform: scale(1.1);
  background-color: #ffa500 !important;
}

.organisation {
  width: 250px;
}

.SidebarList {
  padding: 0;
  width: 100%;
}

.dashboard_app {
  margin-left: 270px;
  width: 80vw;
  height: 100vh;
}

.App {
  width: 100%;
  height: 98%;
}

.device-body {
  background-image: linear-gradient(
    to right top,
    #21e5ee,
    #70e8ff,
    #a3ebff,
    #cbeeff,
    #e9f3ff,
    #e9f3ff,
    #e9f3ff,
    #e9f3ff,
    #cbeeff,
    #a3ebff,
    #70e8ff,
    #21e5ee
  );
}

.border {
  border: "1pt";
  background-origin: padding-box;
  border-spacing: 10px;
  background-color: white;
  font-variant: small-caps;
}

.loginForm {
  all: center;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  max-width: 400px;
  padding-left: 20px;
  padding: 10px;
  box-shadow: 5px 10px 20px lightblue inset;
  padding-right: 20px;
  color: rgb(34, 33, 33);
  font-family: "Courier New", Courier, monospace;
  background: white;
}

.loginForm:hover {
  transform: scale(1.1);
  color: #34c9eb;
}

.title {
  font-family: "Sofia";
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 350px;
  height: 50px;
  font-size: 12px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 355px;
  font-weight: bold;
  height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(#34c9eb, #34c9eb);
}

.button:hover {
  background: #697072;
  color: white;
}

.main-footer {
  color: black;
  background-color: #00bfff;
  padding-top: 1em;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.col-sm {
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00bfff;
}

.header-list {
  list-style-type: none;
  color: white;
}

.header-list li {
  display: inline;
  color: white;
  padding: 14px 16px;
}

.navbar-item {
  color: white;
  float: right;
  padding: 5px;
  width: 60px;
  height: 60px;
}

.header {
  width: 100vw;
}

.navbar-item:hover {
  transform: scale(1.1);
}

.back-forward:hover {
  transform: scale(1.3);
  color: #4441f5;
}

.company-name {
  color: white;
  float: left;
  padding: 10px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 30px;
}

.user-name {
  margin-left: 1725px;
  color: white;
  font-weight: bolder;
  font-style: italic;
}
