.pageheading
{
  background-color: #34c9eb;
  position: absolute; ;
  left: 250px;
  width: 88%;
  float:right; 
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}
.container {
  
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
  background: linear-gradient(0.25turn, #1B1C1C,#6F7373 , #1B1C1C);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;

}
body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
 
}

.sidebar
{
  height: 100%;
  width: 250px;
  background-color:black;
}
.organisation
{
  width: 250px;
}

.SidebarList {
  
  padding: 0;
  width: 100%;
}


.App
{
width: 100vw;
height: 100vh;

}

.border {
  border: '1pt';
  background-origin: padding-box;
  border-spacing: 10px;
  background-color: white;
  font-variant: small-caps;
 }
 

.loginForm {
 all:center;
 box-sizing: border-box;
 width: 100%;
 height: 500px;
 max-width: 400px;
 padding-left: 20px; 
 padding: 10px;
 box-shadow: 5px 10px 8px 10px #888888;
 padding-right: 20px;
 color: rgb(34, 33, 33);
 font-family: 'Courier New', Courier, monospace;
 background: linear-gradient(#171616,#949292);
 
}

.title{
  font-family: "Sofia";
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.input {
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
  width: 350px;
  height: 50px;
  font-size: 15px;
  
}
.button {
  border: none;
  color:black;
  padding: 16px 32px;
  text-align: center;  
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 355px;
  font-weight: bolder;
  height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(#13d6bf,#13d6bf);
 }


 .main-footer {
  color: black;
  background-color:  #34c9eb;
  padding-top: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.col-sm{
  text-align: center;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.header-list{
  list-style-type: none;
  color: white;  
}
.header-list li{
  
  display: inline;
  color: white;  
  padding: 14px 16px; 
}

.navbar-item{  
  color: white;
  float: right;  
  padding:  10px;
}
.header{
  width: 100vw;
  
}

.navbar-item:hover{
  background-color:  #34c9eb;
  color: black;
  text-decoration: none;
}

 .company-name{
  color: white;
  float: left;  
  padding:  10px;
 }