.login-form{
  width:100%;
  max-width:330px;
  padding:15px;
  margin:auto;
  height: 100%;
  
}

.sidebar
{
  height: 100%;
  width: 250px;
  background-color:black;
}
.organisation
{
  width: 250px;
}
.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.SidebarList #active {
  background-color: #293846;

}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  
}

.App
{
width: 100vw;
height: 100vh;

}
body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

.border {
  border: '1pt';
  background-origin: padding-box;
  border-spacing: 10px;
  background-color: white;
  font-variant: small-caps;
 }
.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #34c9eb;
  height: 100%;
}

.loginForm {
 all:center;
 box-sizing: border-box;
 width: 100%;
 height: 500px;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
 color: rgb(34, 33, 33);
 font-family: 'Courier New', Courier, monospace;
background-color: #f2be74;
 
}

.title{
  font-family: "Sofia";
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #1189de;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: #d3eff5;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 355px;
  height: 50px;
  
 }
